@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --color-background-header:#C3A6A0;
    --color-header: #262220;
    --cursive-font:'Ms Madi', cursive;
    --color-body: #C3A6A0;
    --color-book: #9b25df;

}

html{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-body);
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--color-body);
    
}

body{
    padding: 0;
    margin: 0; 
    height: 100%;
    
}

.header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 120px;
    position: relative;
    color: white;
    padding-bottom: 100px;  
    background: url( https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=990&q=80), var(--color-background-header);
    background-size: cover;
    background-attachment: fixed;
}

.opacity{
    height: 130%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
}

.header .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}



.header .title{
    z-index: 1;
}

/*.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    
}*/

.container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 300px);
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 50px 5px;
    padding: 50px;
    background-color: var(--color-body);
    justify-content: center;

}

.books{
    

}
.container .test {
    height: 300px;
    width: 250px;
    background-color: var(--color-book);
    font-family: var(--cursive-font);
    color: white;
    font-size: 40px;
    font-weight: 600;
    transform: rotateX(20deg);
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    border-bottom: 0.1px var(--color-book) solid;
    border-right: 1px var(--color-book)  solid;
    margin: auto;
}

.container .test::before {
    content: "";
    width: calc(100% - 10px);
    height: 60px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transform-origin: bottom;
    transform: rotateX(90deg);
    border-top: 15px var(--color-book) solid;
    border-left: 5px var(--color-book) solid;
    border-right: 5px var(--color-book) solid;
}

.container .test::after{
    content: "";
    height: 100%;
    position: absolute;
    left: 5px;
    
    border-left: 2px silver dashed;
}