@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --color-background-header:#C3A6A0;
    --color-header: #262220;
    --cursive-font:'Ms Madi', cursive;
    --color-body: #C3A6A0;
    --color-book: #202626;
    --transition-label-time: 0.4s;
    --font-size-label: 18px;
    --input-height: 30px;

}

html{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-body);
    padding: 0;
    margin: 0;
    background-color: var(--color-body);
}

body{
    padding: 0;
    margin: 0; 
    position: relative;
}

.header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 120px;
    position: relative;
    color: white;
    padding-bottom: 120px;  
    background: url( https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=990&q=80), var(--color-background-header);
    background-size: cover;
    background-attachment: fixed;
}

.opacity{
    height: 130%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
}

.header .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}



.header .title{
    z-index: 1;
}

/*.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    
}*/

/*--------------------------GRID-------------------------*/

.container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 380px);
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 15px 5px;
    padding: 50px;
    background-color: var(--color-body);
    justify-content: center;

}

.container .book {
    height: 380px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.container .book .test {
    height: 320px;
    width: 280px;
    background-color: var(--color-book);
    font-family: var(--cursive-font);
    color: #FFD700;
    font-size: 35px;
    font-weight: 600;
    transform: rotateX(20deg);
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1px var(--color-book) solid;
    border-right: 1px var(--color-book)  solid;
    border-top-left-radius: 13px;
}



.container .book .botones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}



.container .book button{
    font-family: var(--cursive-font),sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 35px;
    width: 80px;
    padding: 0;
    border: none;
    color: black;
    border: 2px #262220 solid;
    border-radius: 5px;
    align-items: center;
}

.container .book .remove {
    background-color: #DD8EA4;
}

.container .book .read {
    background-color: #8CBDB9;
    /*#18ACBA*/
}

.container .add_book {
    width: 80%;
    height: 100px;
    font-family: var(--cursive-font),sans-serif;
    background-color: #B6FFCE;
    border: 3px #262220 solid;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

.container .add_book:hover{
    background-color: #d1fdfd;
}

.container .book .remove:hover{
    background-color: #daafbb;
}
.container .book .read:hover{
    background-color: #bdd6d4;
}

.container .test::before {
    content: "";
    width: calc(100% - 18px);
    height: 60px;
    background-color: rgb(204, 204, 204);
    position: absolute;
    bottom: 0;
    transform-origin: bottom;
    transform: rotateX(90deg);
    border-top: 20px var(--color-book) solid;
    border-left: 8px var(--color-book) solid;
    border-right: 10px var(--color-book) solid;
    border-top-left-radius: 20px;
}

/* line for sewn appearance */

.container .test::after{
    content: "";
    height: 100%;
    position: absolute;
    left: 7px;
    
    border-left: 2px silver dashed;
}

/*-------------Pop up form--------------*/

.popup_form{
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: none; /* desactiva la pantalla emergente con NONE */
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

.container_form {
    height: 450px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    position: relative;
}

h1{
    font-size: 30px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 2px silver solid;
}

form{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.first-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


form .first-section> div{ /* Selecciona a los DIVS que son hijos directos */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px silver solid;
}

.first-section label{
    font-size: var(--font-size-label);
    position: absolute;
    top: -20px;
    transition: var(--transition-label-time);
    color: #3b5754;
}

input {
    outline: none;
    border: none;
    height: var(--input-height);
    padding: 0 0px;
    padding-left: 2px;
}

.first-section span::before{
    content: "";
    background: #2691d9;
    width: 0%;
    top: var(--input-height);
    position: absolute;
    height: 2px;
    transition: var(--transition-label-time);
    left: 0;
}

.first-section input:focus ~span::before{
    width: 100%;
}

.first-section input:focus ~label {
    font-size: calc(var(--font-size-label) + 2px);
    color: #2691d9;
}


button[type='submit']{
    background-color: #0A62D0;
    color: white;
    padding: 10px 0px;
    border: 3px black solid;
    border-radius: 10px;
    width: 70%;
    align-self: center;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.close{
    position: absolute;
    font-size: 36px;
    right: 12px;
    top: 0px;
    font-weight: 700;
    transform: rotate(45deg);
    cursor: pointer;
}

.noread {
    background-color:#18ACBA;
}

.container .book .noread:hover{
    background-color: #5db3bb;
}

.already{
    padding: 10px;
}

.radio{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
