@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --color-header:#FAE6B1;
    --cursive-font:'Ms Madi', cursive;
}

html{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--color-header);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 50px;
}

.test {
    background-color: #ff888f;
}